{% extends 'base.html' %}

{% load crispy_forms_tags %}

{%block head_title%} {{block.super}} Crea Nuova Sezione di Discussione{%endblock head_title%}


{%block content%}

<div container class="row justify-content-center mt-4">
    <div class=" col-6 text-center">
        <h2>Crea Nuova Sezione</h2>
        <form class="" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class ="btn btn-info" name="" value="Crea">

        </form>
    </div>


</div>



{% endblock content %}