{% extends 'base.html' %}

{% load crispy_forms_tags %}

{%block head_title%} {{block.super}} Cambia Password{%endblock head_title%}


{%block content%}

<div container class="row justify-content-center mt-4">
    <div class=" col-4 text-center">
        <p>password reset: </p>
        <form class="" method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class ="btn btn-info" name="" value="reset">

        </form>
    </div>


</div>



{% endblock content %}