{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{user}}{% endblock head_title%}

{% block content %}

   
            <div class="card my-2">
                <div class="card-header">
                    <h4><strong>{% if request.user == user %} Il tuo {% endif %} Profilo </strong></h4>
                </div>
                <div class="card-body">
                    
                    <p class="lead">@{{ user}} </p>
                        <p class=""></p> 
                        <p class="mb-0"> Iscrizione: {{ user.date_joined|date:"d M Y" }} </p>
                        <p class="mb-0"> Discussioni:{{ user.discussioni.count }}</p>
                        <p class="mb-0"> Posts:  {{ user.posts.count }} </p>
                </div>
                <div class="card-footer"></div>

            
        </div> 
        </div>    
        
        
            <div class="container card-my2 mt-1 py-0 px-2";>
                <div class="card-header my-2" style="background-color:#f7f7f7">
                    <h4>Discussioni</h4></div>
        
                    <div class="card-body mx-0 " >  
                        {% for discussione in discussioni_utente %}         
                        <p class="ps-2 py-0 mt-0"><a href="{{ discussione.get_absolute_url }}">{{discussione.titolo}}</a></p>
                        <p class="text-muted ps-4 py-0" >sez. {{ discussione.sezione_appartenenza }}</p>
                        <hr>
                     {% empty %}
                     {% if request.user != user %}
                        <p>{{user}} non ha creato alcuna discussione</p>
                      {% else %} 
                        <p>Non hai creato alcuna discussione! <br> Vai in una <a href="{%url 'homepage'%}">sezione</a> a tua scelta e inizia subito!</a> </p>
                        
                        {% endif %}  
                     
                     
                        {% endfor %}  

                     <div class="card-footer"></div>
                    </div>
    </div>  
</div> 
</div>

</div>

           

        
   



</div>

</div>


{%  endblock %}

           

        
   